.places__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  width: 468px; /* когда ставлю 100%, ширина блока варьируется с 460 по 468px. __website и __paragraph__block пляшут в perfect pixel   */
}

@media screen and (max-width: 1279px) {
  .places__title {
    width: 440px;
  }
}

@media screen and (max-width: 1023px) {
  .places__title {
    font-size: 42px;
    line-height: 46px;
    width: 330px;
  }
}

@media screen and (max-width: 767px) {
  .places__title {
    font-size: 32px;
    line-height: 35px;
    width: 288px;
    padding: 0 16px;
  }
}
