.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 28px 48px 0;
  max-width: 100vw;
}


@media screen and (max-width: 1023px) {
  .header {
    margin: 28px 24px 0;
  }
}

@media screen and (max-width: 767px) {
  .header {
    margin: 16px 16px 0;
  }
}

