.lead__subtitle {
  margin: 32px auto 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: normal;
  text-align: center;
  font-style: normal;
  width: 640px;
  font-family: 'Inter', 'Arial';
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin: 16px auto 0;
    max-width: 288px;
  }
}

