.footer__links-block {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  list-style: none;
  color: white;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .footer__links-block {
    flex-direction: column;
  }
}

